.movieItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.itemPoster {
  width: 100%;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
}

.itemInfo {
  width: 100%;
  aspect-ratio: 2 / 1;
  background-color: #373b69;
  color: white;
  display: flex;
  box-sizing: border-box;
  padding: 14px;
  line-height: 1.4;
  justify-content: space-between;
}

.itemTitle {
  width: 80%;
  height: 100%;
  word-break: keep-all;
}
